---
const { img, href, title, details } = Astro.props;
---

<div class="flex-col w-full">
  <a
    href={href}
    target="_blank"
    class="flex flex-col items-center border rounded-lg shadow md:flex-row md:max-w-xl border-gray-700 bg-gray-800 hover:bg-gray-700"
  >
    <img
      class="object-cover object-center md:ml-2 w-full rounded-t-lg h-56 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
      src={img}
      alt={`imagen de pagina ${title}`}
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
      </h5>
      <p
        class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-2 hover:line-clamp-none"
      >
        {details}
      </p>
    </div>
  </a>
</div>
